PORT=8080
LOG_LEVEL=info
# AWS Amazon Cognito User Pool ID (use your User Pool ID)
AWS_COGNITO_POOL_ID=FOO
# AWS Amazon Cognito Client App ID (use your Client App ID)
AWS_COGNITO_CLIENT_ID=BAR
API_URL=http://localhost:8080
HTPASSWD_FILE=./tests/.htpasswd
PRODUCTION=true

